#home-background {
  position: relative;
  background: url("../img/popcorn_background2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home-background {
  padding-top: 12em;
  padding-bottom: 12em;
}

#home-content h1 {
  transform: translateY(-100%);
}

#home-content p {
  transform: translateY(-40%);
}

#home-content p a {
  transform: translateY(50%);
}

.navbar-register-link a {
  text-decoration: none;
  color: #28a745;
}

#tutorial-background {
  position: relative;
  background: url("../img/theater_background1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;  
  /*background: linear-gradient(90deg, black, grey, black);*/
}

.carousel-inner {
  width: 65%;
  height: 65%;
  margin: 0 auto;
}

.carousel-caption {
  /* Move captions beside the images */
  position: relative;
  left: auto;
  right: auto;
}

.carousel-caption p {
  font-size: 2em;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 4em;
  width: 4em;
}