#login-form {
  position: relative;
  height: 30em;
  background: url("../img/home_background2.jpg") no-repeat center;
  background-size: cover;
}

#login-form-content {
  margin-top: 4%;
  width: 30%;
}

#login-form-content a {
  text-decoration: none;
  color: #28a745;
}
