#navLoginDiv {
  width: 400%;
}

/* This CSS setting is the same as Bootstrap dropdown-menu-right class,
   but for some reason it wasn't working, so it has to be manually defined here */
#navSettingButton {
  margin-top: 0.7em;
  right: 0;
  left: auto;
}

.dropdown-menu-right {
  margin-top: 0.7em;
}

/* For navbar color */
.navbar.navbar-expand-md.navbar-dark.bg-dark {
   /*background-color: #14181c !important;*/
   /*background-color: #212529 !important;*/
   /*background-color: #445566 !important;*/
   /*background-color: #667788 !important;*/
}

/* Add transparent border-bottom to navbar menu item.
   The effect is to reserved 2px of space on the bottom so, when hover over the
   menu item, it won't push the other content away. */
.navbar-item {
  border-bottom: 2px solid transparent;
}

/* Add underline to navbar item */
.navbar-item:hover {
  border-bottom: 2px solid #17a2b8;
}

