.sidebar {
  min-height: 70em;
}

.sidebar, .recommendation {
   /*background-color: #14181c;*/
   background-color: #212529;
   /*background-color: #445566;*/
   /*background-color: #667788;*/

  /* bootstrap bg-dark color */
   /*background-color: #343a40;  */
}

.filter-link a {
  text-decoration: none;
  color: white;
}

.filter-link a:hover {
  color: gray;
}

.thumbnail {
  position: relative;
}

.thumbnail:hover .movie-poster {
  opacity: 0.3;
  /*transform: scale(1.3, 1.3);*/
}

.thumbnail:hover .movie-title, .thumbnail:hover .remove-button {
  opacity: 1;
}

.movie-poster {
  transition: 0.5s ease;
}

.movie-title, .remove-button {
  transition: 0.8s ease;
}

.movie-title, .remove-button {
  position: absolute;
  opacity: 0;
}

.movie-title {
  top: 10%;
  left: 12%;
  width: 200px;
}

.remove-button {
  bottom: 10%;
  left: 44%;
}

.remove-button a {
  text-decoration: none;
  color: inherit;
}

.movie-detail-link, .movie-detail-link:visited, 
.movie-detail-link:hover, .movie-detail-link:active {
  text-decoration: none;
  color: white;
}

#list-rated-films a:hover {
  border: 1px solid #72d147;
}

#recommendation-hr {
  border: 0.05em solid lightgrey;
  margin-top: 3.5em;
}

#addSeedFilmNav {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 1;
}

#overlay-main {
  height: 72%;
}

#overlay-content {
  top: 20%;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
}

#addSeedFilmNav a.closebtn:hover, a.closebtn:focus {
  color: #4c4c4c;
}

#addSeedFilmNav .closebtn {
  text-decoration: none;
  color: #737373;
  /*display: block;*/
  transition: 0.3s;
  position: absolute;
  top: -9%;
  right: 2%;
  font-size: 1000%;
}

.uneditableStars {
  left: 0.7em;
}

#test {
  position: absolute;
  left: 50%;
  transform: translate(-49%, 70%);
}

#test input {
  width: 22em;
  font-size: 1.7em;
  border: 1px solid grey;
  outline: none;
}