#register-form {
  position: relative;
  height: 40em;
  background: url("../img/home_background2.jpg") no-repeat center;
  background-size: cover;
}

#register-form-content {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#register-form-content input {
  font-size: 1.5em;
}

#register-form-content a {
  text-decoration: none;
  color: #28a745;
}

#register-form-content button {
  font-size: 1.5em;
}

