.sidebar, .recommendation {
  background-color: #212F3D;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}

.thumbnail {
  position: relative;
}

.movie-poster, .movie-title, .movie-description {
  transition: 0.5s ease;
}

.movie-title {
  top: 10%;
}

.movie-description {
  top: 20%;
  font-size: 1em;
}

.movie-title, .movie-description {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
}


.thumbnail:hover .movie-poster {
  opacity: 0.3;
}

.thumbnail:hover .movie-title, .thumbnail:hover .movie-description {
  opacity: 1;
}

.seedFilmAddButton {
  padding-right: 1.2em;
  padding-left: 1.2em;
}